<div class="w3-card w3-padding w3-margin" *ngFor="let item of items"> 
    <!--<code>{{item | json}}</code> -->
    <div class="w3-display-container"> 
        <span (click)="remove(item)" class="w3-button w3-large w3-display-topright">×</span>
        <h4><strong>{{item.full_name}}</strong></h4>
    </div>
    <div>
        <span class="w3-tag w3-large w3-red">{{item.open_issues}}&nbsp;<i class="fa fa-bug" aria-hidden="true"></i></span>&nbsp;&nbsp;
        <span class="w3-tag w3-large w3-orange">{{item.forks}}&nbsp;<i class="fa fa-code-fork" aria-hidden="true"></i></span>&nbsp;&nbsp;
        <span class="w3-tag w3-large w3-blue">{{item.watchers}}&nbsp;<i class="fa fa-eye" aria-hidden="true"></i></span>
    </div>
    <p>
        {{item.description}}
    </p>
</div>
