/* You can add global styles to this file, and also import other style files */
body > .w3-content {
    max-width:1100px !important; 
    margin-top: 70px !important;
}
.w3-badge{
    display: inline-block;
}