<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a routerLink="/" class="w3-bar-item w3-button">Main</a>
    <a routerLink="/search" class="w3-bar-item w3-button" *ngIf="authService.loggedIn">Search</a>
    <a routerLink="/favorite" class="w3-bar-item w3-button" *ngIf="authService.loggedIn">Favorite</a>

    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right">
      <a *ngIf="!authService.loggedIn" class="w3-bar-item w3-button" (click)="authService.login()">Log In</a>
      <a *ngIf="authService.loggedIn" class="w3-bar-item w3-button" (click)="authService.logout()">Log Out</a>
    </div>
  </div>
</div>

